---
import { markdownify } from "@/lib/utils/textConverter";
import DotTitle from "@/components/DotTitle.astro";
import Base from "@/layouts/Base.astro";
import CallToAction from "@/partials/CallToAction.astro";
import { getEntry } from "astro:content";
import IntegrationCard from "@/components/IntegrationCard.astro";
import { getSinglePage } from "@/lib/contentParser.astro";

interface integration {
  title: string;
  subtitle: string;
  image: string;
}

const { data } = await getEntry("integration", "-index");
const interations = await getSinglePage("integration");
const { title, description, noindex, meta_title, image } = data;

const integration = data.integration as integration;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
  noindex={noindex}>
  {
    integration && (
      <section class="section">
        <div class="container-sm">
          {integration.subtitle && (
            <div class="flex justify-center" data-aos="fade-up-sm">
              <DotTitle title={integration.subtitle} />
            </div>
          )}

          {integration.title && (
            <h2
              class="mb-8 lg:mb-8 text-center lg:col-8 mx-auto md:px-10"
              data-aos="fade-up-sm"
              data-aos-delay="100"
              set:html={markdownify(integration.title)}
            />
          )}

          <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-x-5 lg:gap-y-7">
            {interations.map((integration, index) => (
              <IntegrationCard
                slug={integration.slug}
                data={integration.data}
                delay={index}
              />
            ))}
          </div>
        </div>
      </section>
    )
  }
  <hr class="divider" />

  <CallToAction />
</Base>
