---
import { markdownify } from "@/lib/utils/textConverter";
import ImageMod from "./ImageMod.astro";
import DynamicIcon from "@/helpers/DynamicIcon";

const { name, designation, image, social } = Astro.props;
---

<div
  class="border bg-theme-light hover:bg-white hover:border-transparent hover:shadow transition-card px-4 py-8 flex flex-col items-center space-y-6 text-center min-w-60">
  {
    image && (
      <ImageMod
        src={image}
        alt="Profile Image"
        width={120}
        height={120}
        class="max-w-20"
      />
    )
  }

  <div>
    {name && <h3 class="h6 font-medium mb-2" set:html={markdownify(name)} />}
    {
      designation && (
        <p class="font-light" set:html={markdownify(designation)} />
      )
    }
  </div>
  <hr class="divider" />

  <ul class="flex justify-center items-center gap-x-6 text-theme-dark">
    {
      social.map(
        ({
          name,
          icon,
          link,
        }: {
          name: string;
          icon: string;
          link: string;
        }) => (
          <li>
            <a
              href={link}
              class="bg-theme-dark/10 hover:bg-theme-dark/20 transition-colors w-8 h-8 grid place-items-center rounded-full">
              <DynamicIcon icon={icon} />
              <span class="sr-only" set:html={markdownify(name)} />
            </a>
          </li>
        )
      )
    }
  </ul>
</div>
