---
import type { AboutUs } from "@/types";
import RatingsStarCard from "@/components/RatingsStarCard.astro";
import DotTitle from "@/components/DotTitle.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { getEntry } from "astro:content";

const { about_us }: { about_us: AboutUs } = (await getEntry("career", "-index")).data;
---

{
  about_us && (
    <section class="section">
      <div class="container-sm mb-14 xl:mb-20 xl:px-14">
        <div class="row gap-y-8">
          <div class="lg:col-6">
            {about_us.subtitle && (
              <div data-aos="fade-up-sm">
                <DotTitle title={about_us.subtitle} />
              </div>
            )}
            {about_us.title && (
              <h2
                class="mb-6 lg:mb-10"
                data-aos="fade-up-sm"
                data-aos-delay="100"
                set:html={markdownify(about_us.title)}
              />
            )}
            {about_us.button && about_us.button.enable && (
              <div data-aos="fade-up-sm" data-aos-delay="200">
                <a
                  href={about_us.button.link}
                  class="btn btn-primary"
                  set:html={markdownify(about_us.button.label)}
                />
              </div>
            )}
          </div>

          {about_us.description && (
            <div
              class="lg:col-6 [&>*]:mb-4 [&>*]:text-base last:mb-0"
              data-aos="fade-up-sm"
              set:html={markdownify(about_us.description)}
            />
          )}
        </div>
      </div>

      {about_us.stats && (
        <div class="container-sm">
          <div class="gap-3 md:gap-6 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            {about_us.stats.map((stat) => (
              <RatingsStarCard
                title={stat.count}
                rating_description={stat.rating_description}
                img={stat.image}
                alt={stat.alt}
                delay={100}
                rating={5}
              />
            ))}
          </div>
        </div>
      )}
    </section>
  )
}
