---
import DotTitle from "@/components/DotTitle.astro";
import DynamicIcon from "@/helpers/DynamicIcon";
import { markdownify } from "@/lib/utils/textConverter";
import type { Features, FeaturesContentBlock } from "@/types";
import { getEntry } from "astro:content";

const { data } = await getEntry("features", "-index");

const features = data.features as FeaturesContentBlock;
---

{
  features && features.enable && (
    <section class="section">
      <div class="container relative isolate bg-theme-light">
        <div class="container-inner">
          <div class="row items-center">
            {features.image && (
              <div
                class="md:col-5 lg:col-6 order-2 md:order-1 mx-auto pt-5 md:pt-0"
                data-aos="zoom-out-sm">
                <img
                  src={features.image}
                  alt="Campaigns"
                  width="494"
                  height="516"
                  class="mx-auto bg-white p-6 max-w-[550px] w-full"
                />
              </div>
            )}
            <div
              class="md:col-7 lg:col-6 order-1 md:order-2"
              data-aos="fade-right-sm">
              {features.subtitle && (
                <div data-aos="fade-right-sm">
                  <DotTitle title={features.subtitle} />
                </div>
              )}
              {features.title && (
                <h2
                  class="mb-6"
                  data-aos="fade-right-sm"
                  set:html={markdownify(features.title)}
                />
              )}
              {features.description && (
                <p
                  data-aos="fade-right-sm"
                  set:html={markdownify(features.description)}
                />
              )}
              <hr class="my-6" data-aos="fade-right-sm" />
              {features.list && (
                <ul class="text-dark font-normal">
                  {features.list.map((value) => (
                    <li
                      class="relative mb-4 flex items-start"
                      data-aos="fade-right-sm"
                      data-aos-delay="150">
                      <div class="pr-2 mt-[5px]">
                        <span class="bg-primary w-5 h-5 grid place-items-center rounded-full">
                          <DynamicIcon
                            className="text-white text-xs inline-block"
                            icon={"FaCheck"}
                          />
                        </span>
                      </div>
                      <span set:html={markdownify(value)} />
                    </li>
                  ))}
                </ul>
              )}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
